:root{
	--menu-bg:rgb( 40, 44, 47 ); 
	--menu-link:#aaa;
}
body{
	background-color: #EBE8E4;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;	
}
#wrapper{
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}
#header{
	margin-right: 10px;
	margin-left: 10px;
	width: 940px;
}
#navigation{
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 	
}
#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
}
	
#navigation > ul > li > a {
	color: var(--menu-link);
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}
		
#navigation > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}
#navigation > ul > li:hover {
	background-color: var(--menu-bg);
}

#navigation > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}

#navigation > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
#navigation > ul > li > div {
	background-color: var(--menu-bg);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 200px;
	visibility: hidden;
	z-index: 100;
	
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

#navigation > ul > li > div ul > li {
	display: block;
}

#navigation > ul > li > div ul > li > a {
	color: #fff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

#navigation > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}
#navigation > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
} 
#navigation > ul > li > a > .caret,
#navigation > ul > li > div ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;

	-webkit-transition: color 0.1s linear;
	  -moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}
  
#navigation > ul > li > div ul > li > a > .caret {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid #f2f2f2;
	margin: 0 0 0 8px;
}
#navigation > ul > li > div,
#navigation > ul > li > div ul > li > div {
	background-color: rgb( 40, 44, 47 );
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 250px;
	visibility: hidden;
	
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

#navigation > ul > li > div ul > li > div {
	border-radius: 0 4px 4px 4px;
	box-shadow: inset 2px 0 5px rgba(0,0,0,.15);
	margin-top: -42px;
	right: -165px;
}

#navigation > ul > li:hover > div,
#navigation > ul > li > div ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible;
} 	
#content{
	margin-top: 58px;
	margin-right: 10px;
	float: right;
	width: 90%;
}
#footer{
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	clear: both;
	width: 90%;
}